@import 'src/styles/default/mixins.scss';

.layout{
  
}
.content{
  background-image: url("/images/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding-top: calc(78.17px + 2rem);
}
.innerContent{
  @include container;
}